<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<title>Insert title here</title>
<!--确保它能正确呈现在不同设备上:响应式布局-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<table class="table table-hover">
        <thead>
        <tr  class="active">
            <th>ID</th>
            <th>商家</th>
            <th>等级</th>
            <th>创建时间</th>
            <th>操作
            	<a class="btn btn-success btn-sm" th:href="@{toAdd}">新增</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${slist}">
            <td th:text="${s.sid}"></td>
            <td th:text="${s.sname}"></td>
            <td th:text="${s.leve}"></td>
            <td th:text="${s.datea}"></td>
            <td>
            	<a class="btn btn-warning" th:href="@{del(sid=${s.sid})}">删除</a>
            	<a class="btn btn-danger" th:href="@{toup(sid=${s.sid})}">修改</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>